#topBar{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color);
}
#logoImg{
    width: 256px;
    max-height: 80px;
}
#userNameBox{
    display: flex;
    width: 20%;
    min-width: 250px;
    justify-content: space-around;
    align-items: center;
}
#userName{
    display: inline-block;
    color: var(--main-font-color);
    font-size: var(--topBar-font-size);
    text-align: center;
}
#logoutButton{
    font-size: 20px;
}
#buttonBox{
    width: 20%;
    min-width: 250px;
    margin-right: 12px;
    text-align: center;
}
#memberCalendarLink{
    display: none;
    color: var(--main-font-color);
    font-size: var(--topBar-font-size);;
    margin-right: 12px;
}
#addCalendarButton{
    font-family: "SuncheonB";
    font-size: var(--topBar-font-size);;
}



#calendarTitle{
    margin-top: 10%;
}
#calendarTitleText{
    font-size: 36px;
    margin-left: 20%;
}

#calendarHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headButton{
    width: 3%;
    min-width: 20px;
    height: fit-content;
    border: none;
    background-color: var(--main-font-color);
}



.calendarBody{
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.calendarDetail{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
}

.calendarDate{
    width: 33%;
    color: var(--main-font-color);
}
.calendarDate{
    display: inline-block;
    margin-left: 8px;
}

.calendarContent{
    width: 33%;
    color: var(--main-font-color);
}

.calendarButtonBox{
    display: flex;
    width: 33%;
    justify-content: end;
}

.bodyButton{
    font-family: "SuncheonB";
    font-size: var(--bodyButton-font-size);
    margin-right: 8px;
}