:root{
    --main-bg-color: #4E91F0;
    --main-font-color: white;
    --main-scroll-width: 10px;
    --topBar-font-size: 20px;
    --topBar-height: 80px;
    --bodyButton-font-size: 14px;
    --calendar-height: 50px;
    --calendar-grown-height: 100px;
}

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    font-family: "SuncheonB";
    margin: 0;
    min-width: 360px;
}

p{
    margin: 0;
}

h1{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
}

img{
    width: 100%;
}

a{
    color: var(--main-font-color);
    text-decoration: none;
}

input::placeholder{
    color: #e2e2e2;
}

input[type=button]{
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    border: none;
}
input[type=submit]{
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    border: none;
}

@font-face {
    src: url(../FONT/SuncheonB.ttf);
    font-family: "SuncheonB";
}